[user]
	name = vsag96
	email = tv400@snu.edu.in

[alias]
	br=branch
	ci = commit
	st = status
	co=checkout
	adog = --all --decorate --oneline --graph
    changed = diff-tree --no-commit-id --name-only -r
[core]
    editor=vim
